
.collapsible .content {
    padding: 6px;
    background-color: #eeeeee;
}
.collapsible .header {
    background-color: #dddddd;
    padding: 6px;
    cursor: pointer;
}
.sign-up{
  font-family: 'Montserrat';
      display: block;
      padding: 13px 19px;
      background-image: linear-gradient(to bottom, #0099D3, #006DA3);
      color: #fff;
      border-radius: 10px;
      border-width: 0;
      width:100%;
      cursor: pointer;
      font-weight: 0;
      margin: 10px auto;

}
