/* Shop.scss */

/* Shop.scss */

/* Styles for the product grid */
.allproducts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.view-products {
  display: flex;
  justify-content: center;
  max-width: 80%;
  width: 100%;
  flex-wrap: wrap;

  /* Add Flexbox styles to control layout */
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Gap between items */
}

/* Styles for each product card */

.topbar {
  /* Flexbox styles for the grid container */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
/* Styles for the "Load More" button */
.load-more-button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  max-height: 50px;
  width: 100%;
}

/* Styles for the MDBBtn component with className "btn-mdb" */
.btn-mdb {
  /* Add any styles specific to the MDBBtn component here */
  display: flex;
  cursor: pointer;
  font-family: 'Montserrat';
  padding: 24px 35px;
  background-image: linear-gradient(to bottom, #0099D3, #006DA3);
  color: #fff;
  border-radius: 40px;
  border-width: 0;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 0;
  margin: 10px auto;
  align-items: center;
}

/* Media query for smaller screen sizes */

.carousel .carousel-item {
  height: 400px;
  width: 100%;
}

.carousel-item img {
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

